services:
  db:
    image: postgres
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: python_api
    depends_on:
      - db
    ports:
      - 8000:8000
    volumes:
      - ./:/usr/src/app
volumes:
  db-data:
